<div class="row">
    <div class="col-12 text-wrap">@Message</div>
</div>
@code {



    [Parameter] public string Message { get; set; }

    protected override void OnInitialized()
    {
        // get employee with {EmployeeId} from DB


        base.OnInitialized();
    }


}